@media(max-width: 768px)
{
    .masthead,
    #about,
    #about-app
    {
        padding-top: 20px;
    }

    .footer-col
    {
        margin-bottom: 30px;
    }

    .box-simple
    {
        margin-bottom: 30px;
    }
}